#wlm_postpage_metabox h2.hndle span::before {
	content: "WishList Member ";
}

#wlm_postpage_metabox .inside {
	padding: 0;
	margin: 0;
}
#wlm_postpage_metabox .inside::after {
	content: "";
	clear: both;
	display: table;
}
.wlm-inside .clearfix::after {
	content: "";
	clear: both;
	display: table;	
}

.wlm-inside a:focus {
  box-shadow: none;
}

.wlm_levels {
	float:left;
}
.wlm_levels li{
	margin: 0;
	padding: 0;
}
.wlm_levels li.first{
	padding: 0 0 2px 0;
	margin: 0 0 2px 0;
	border-bottom:1px solid #ddd;
}
#wpm_options_div h2{
	margin:0;
}
#wpm_options_div blockquote{
	margin-top:0;
}
.user_post_exists td{
	text-decoration:line-through;
}
.wishlist_member_system_page_input,
.wishlist_member_system_page_select,
.wishlist_member_system_page_select option{
	width:300px;
	overflow:hidden;
}
.wlm-inside {
	padding: 15px;
}

#poststuff .wlm-h2 {
	font-weight: bold;
	padding: 0 0 6px;
}

#poststuff .wlm-inside p,
#poststuff .wlm-inside label {
	margin: 0;
}

#poststuff .wlm-inside p {
	margin-bottom: 3px;
}

#poststuff .wlm-inside a.-text-light {
  color: #A1A1A1;
  text-decoration: none;
}
#poststuff .wlm-inside a.-text-light:hover {
  opacity: .7;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.wlm-btn {
	color: #ffffff;
	font-weight: 400;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	line-height: 1.5;
	background: #054A91;
	border: none;
	border-radius: 4px;
	padding: 10px 18px 0;
	height: 30px;
  transition-property: none;
  padding: 10px 14px;
  height: auto;  
}

.wlm-btn.-default {
  background-color: #DADADA;
  color: #7C7C7C;
}
.wlm-btn.-with-icons {
  /*padding: 10px 12px 4px;*/
}

.wlm-btn .wlm-icons {
  float: left;
  margin-right: 2px;
}

.wlm-btn:hover,
.wlm-btn:focus {
	color: #fff;
	opacity: .8;
}

.wlm-btn.-default:hover {
  color: #7C7C7C;
}

.wlm-btn.-success {
  background: #15C384;
}


button.wlm-btn.-with-icons {
  padding-top: 5px;
}
button.wlm-btn.-with-icons span {
  display: block;
  padding: 2px 0 0;
  float: left;
}
a.wlm-btn.-with-icons {
  display: inline-block;
}

a.wlm-btn.-with-icons img {
  float: left;
}
a.wlm-btn.-with-icons span {
  padding: 3px 5px 0;
  padding: 0 5px 0;
  display: block;
  float: left;
}

.wlm-btn.-bare {
  background: none;
  color: #A1A1A1;
}

.wlm-btn.-disable {
  background: #BDBDBD;
  color: #5C6570;
  opacity: .4;
}

a.wlm-btn.-centered-span span {
  padding-top: 2px;
}


.wlm-inside input[type=button] {
	padding: 0 15px;
	height: 35px;
	margin: 0 10px;	
}


/*WLM PLUGIN*/
.wlm-plugin-inside {
	background: #fcfcfc;
  display: flex;
	padding: 0!important;
	margin: 0!important;
	/*margin: -6px -12px -12px!important;*/
}
.wlm-plugin-sidebar,
.wlm-plugin-content {
	box-sizing: border-box;
	float: left;
}
.wlm-plugin-sidebar {
	border-right: 1px solid #ececec;
	width: 220px;
	margin-right: 1px;
	/*background: #fefefe;*/
	/*margin-left: -15px;*/
}
.wlm-plugin-sidebar li {
	/*border-right: 1px solid #ececec;*/
	list-style: none;
	margin-bottom: 0;
}
.wlm-plugin-sidebar li a {
	border-bottom: 1px solid #ececec;
	font-weight: 500;
	display: block;
	padding: 12px;
	opacity: .7;
	text-decoration: none;
}
/*.wlm-plugin-sidebar li:last-child a {
	border-bottom: none;
}*/
		/*		.wlm-plugin-sidebar li:active,
.wlm-plugin-sidebar li.active {
border-right: 1px solid #fff;
}*/
.wlm-plugin-sidebar li.active {
	margin-right: -1px;
}
.wlm-plugin-sidebar li:active,
.wlm-plugin-sidebar li.active a {
	font-weight: bold;
	opacity: 1;
				background: #fff;
}
.wlm-plugin-content {
	/*border-left: 1px solid #ececec;*/
	width: 100%;
	background: #fff;
	min-height: 200px;
	margin-left: -1px;
}

.wlm-inside-manager .d-none {
  display: none;
}

.wlm-inside-manager .empty-tr .wlm-manage-actions {
  display: none;
}



/*******************************Toggle Switch***********************************/
/*Begin: This code is supposed to be in a seperate file. Ask Mike where should we put this code*/

@charset "UTF-8";
/*
* CSS TOGGLE SWITCH
*
* Ionuț Colceriu - ghinda.net
* https://github.com/ghinda/css-toggle-switch
*
*/
/* supported values are px, rem-calc, em-calc
 */
/* imports
 */
/* Functions
 */
/* Shared
 */
/* Hide by default
 */
.switch-toggle a, .switch-light span span {
  display: none; }

/* We can't test for a specific feature,
 * so we only target browsers with support for media queries.
 */
@media only screen {
  /* Checkbox
 */
  .switch-light {
    position: relative;
    display: block;
    /* simulate default browser focus outlines on the switch,
   * when the inputs are focused.
   */ }
    .switch-light::after {
      clear: both;
      content: "";
      display: table; }
    .switch-light *, .switch-light *:before, .switch-light *:after {
      box-sizing: border-box; }
    .switch-light a {
      display: block;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out; }
    .switch-light label, .switch-light > span {
      /* breathing room for bootstrap/foundation classes.
     */
      line-height: 2em;
      vertical-align: middle; }
    .switch-light input:focus ~ span a, .switch-light input:focus + label {
      outline-width: 2px;
      outline-style: solid;
      outline-color: Highlight;
      /* Chrome/Opera gets its native focus styles.
     */ }
      @media (-webkit-min-device-pixel-ratio: 0) {
        .switch-light input:focus ~ span a, .switch-light input:focus + label {
          outline-color: -webkit-focus-ring-color;
          outline-style: auto; } }
  /* don't hide the input from screen-readers and keyboard access
 */
  .switch-light input {
    position: absolute;
    opacity: 0;
    z-index: 3; }
  .switch-light input:checked ~ span a {
    right: 0%; }
  /* inherit from label
 */
  .switch-light strong {
    font-weight: inherit; }
  .switch-light > span {
    position: relative;
    overflow: hidden;
    display: block;
    min-height: 2em;
    /* overwrite 3rd party classes padding
   * eg. bootstrap .well
   */
    padding: 0;
    text-align: left; }
  .switch-light span span {
    position: relative;
    z-index: 2;
    display: block;
    float: left;
    width: 50%;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-top: 4px;
    line-height: 0;
  }
  .switch-light a {
    position: absolute;
    right: 50%;
    top: 0;
    z-index: 100;
    display: block;
    width: 50%;
    height: 100%;
    padding: 0; }
  /* Radio Switch
 */
  .switch-toggle {
    position: relative;
    display: block;
    /* simulate default browser focus outlines on the switch,
   * when the inputs are focused.
   */
    /* For callout panels in foundation
  */
    padding: 0 !important;
    /* 2 items
   */
    /* 3 items
   */
    /* 4 items
   */
    /* 5 items
   */
    /* 6 items
   */ }
    .switch-toggle::after {
      clear: both;
      content: "";
      display: table; }
    .switch-toggle *, .switch-toggle *:before, .switch-toggle *:after {
      box-sizing: border-box; }
    .switch-toggle a {
      display: block;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out; }
    .switch-toggle label, .switch-toggle > span {
      /* breathing room for bootstrap/foundation classes.
     */
      line-height: 2em;
      vertical-align: middle; }
    .switch-toggle input:focus ~ span a, .switch-toggle input:focus + label {
      outline-width: 2px;
      outline-style: solid;
      outline-color: Highlight;
      /* Chrome/Opera gets its native focus styles.
     */ }
      @media (-webkit-min-device-pixel-ratio: 0) {
        .switch-toggle input:focus ~ span a, .switch-toggle input:focus + label {
          outline-color: -webkit-focus-ring-color;
          outline-style: auto; } }
    .switch-toggle input {
      position: absolute;
      left: 0;
      opacity: 0; }
    .switch-toggle input + label {
      position: relative;
      z-index: 2;
      display: block;
      float: left;
      padding: 3px 8px;
      margin: 0;
      text-align: center; }
    .switch-toggle a {
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0;
      z-index: 1;
      width: 10px;
      height: 100%; }
    .switch-toggle label:nth-child(2):nth-last-child(4), .switch-toggle label:nth-child(2):nth-last-child(4) ~ label, .switch-toggle label:nth-child(2):nth-last-child(4) ~ a {
      width: 50%; }
    .switch-toggle label:nth-child(2):nth-last-child(4) ~ input:checked:nth-child(3) + label ~ a {
      left: 50%; }
    .switch-toggle label:nth-child(2):nth-last-child(6), .switch-toggle label:nth-child(2):nth-last-child(6) ~ label, .switch-toggle label:nth-child(2):nth-last-child(6) ~ a {
      width: 33.33%; }
    .switch-toggle label:nth-child(2):nth-last-child(6) ~ input:checked:nth-child(3) + label ~ a {
      left: 33.33%; }
    .switch-toggle label:nth-child(2):nth-last-child(6) ~ input:checked:nth-child(5) + label ~ a {
      left: 66.66%; }
    .switch-toggle label:nth-child(2):nth-last-child(8), .switch-toggle label:nth-child(2):nth-last-child(8) ~ label, .switch-toggle label:nth-child(2):nth-last-child(8) ~ a {
      width: 25%; }
    .switch-toggle label:nth-child(2):nth-last-child(8) ~ input:checked:nth-child(3) + label ~ a {
      left: 25%; }
    .switch-toggle label:nth-child(2):nth-last-child(8) ~ input:checked:nth-child(5) + label ~ a {
      left: 50%; }
    .switch-toggle label:nth-child(2):nth-last-child(8) ~ input:checked:nth-child(7) + label ~ a {
      left: 75%; }
    .switch-toggle label:nth-child(2):nth-last-child(10), .switch-toggle label:nth-child(2):nth-last-child(10) ~ label, .switch-toggle label:nth-child(2):nth-last-child(10) ~ a {
      width: 20%; }
    .switch-toggle label:nth-child(2):nth-last-child(10) ~ input:checked:nth-child(3) + label ~ a {
      left: 20%; }
    .switch-toggle label:nth-child(2):nth-last-child(10) ~ input:checked:nth-child(5) + label ~ a {
      left: 40%; }
    .switch-toggle label:nth-child(2):nth-last-child(10) ~ input:checked:nth-child(7) + label ~ a {
      left: 60%; }
    .switch-toggle label:nth-child(2):nth-last-child(10) ~ input:checked:nth-child(9) + label ~ a {
      left: 80%; }
    .switch-toggle label:nth-child(2):nth-last-child(12), .switch-toggle label:nth-child(2):nth-last-child(12) ~ label, .switch-toggle label:nth-child(2):nth-last-child(12) ~ a {
      width: 16.6%; }
    .switch-toggle label:nth-child(2):nth-last-child(12) ~ input:checked:nth-child(3) + label ~ a {
      left: 16.6%; }
    .switch-toggle label:nth-child(2):nth-last-child(12) ~ input:checked:nth-child(5) + label ~ a {
      left: 33.2%; }
    .switch-toggle label:nth-child(2):nth-last-child(12) ~ input:checked:nth-child(7) + label ~ a {
      left: 49.8%; }
    .switch-toggle label:nth-child(2):nth-last-child(12) ~ input:checked:nth-child(9) + label ~ a {
      left: 66.4%; }
    .switch-toggle label:nth-child(2):nth-last-child(12) ~ input:checked:nth-child(11) + label ~ a {
      left: 83%; }
  /* Candy Theme
 * Based on the "Sort Switches / Toggles (PSD)" by Ormal Clarck
 * http://www.premiumpixels.com/freebies/sort-switches-toggles-psd/
 */
  .switch-toggle.switch-candy, .switch-light.switch-candy > span {
    background-color: #2d3035;
    border-radius: 3px;
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.2); }
  .switch-light.switch-candy span span, .switch-light.switch-candy input:checked ~ span span:first-child, .switch-toggle.switch-candy label {
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px #191b1e; }
  .switch-light.switch-candy input ~ span span:first-child, .switch-light.switch-candy input:checked ~ span span:nth-child(2), .switch-candy input:checked + label {
    color: #333;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }
  .switch-candy a {
    border: 1px solid #333;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.45);
    background-color: #70c66b;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), transparent);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), transparent); }
  .switch-candy-blue a {
    background-color: #38a3d4; }
  .switch-candy-yellow a {
    background-color: #f5e560; }
  /* iOS Theme
*/
  .switch-ios.switch-light span span {
    color: #888b92; }
  .switch-ios.switch-light a {
    left: 0;
    top: 0;
    width: 32px;
    height: 32px;
    background-color: #fff;
    border-radius: 100%;
    border: 4px solid #D8D9DB;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out; }
  .switch-ios.switch-light > span {
    display: block;
    width: 100%;
    height: 32px;
    background-color: #D8D9DB;
    border-radius: 28px;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    transition: all .4s ease-out; }
  .switch-ios.switch-light > span span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    line-height: 30px;
    vertical-align: middle;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out; }
    .switch-ios.switch-light > span span:first-of-type {
      opacity: 1;
      padding-left: 30px; }
    .switch-ios.switch-light > span span:last-of-type {
      padding-right: 30px; }
  .switch-ios.switch-light input:checked ~ span a {
    left: 100%;
    border-color: #4BD865;
    margin-left: -32px; }
  .switch-ios.switch-light input:checked ~ span {
    border-color: #4BD865;
    box-shadow: inset 0 0 0 30px #4BD865; }
  .switch-ios.switch-light input:checked ~ span span:first-of-type {
    opacity: 0; }
  .switch-ios.switch-light input:checked ~ span span:last-of-type {
    opacity: 1;
    color: #fff; }
  .switch-ios.switch-toggle {
    background-color: #D8D9DB;
    border-radius: 30px;
    box-shadow: inset rgba(0, 0, 0, 0.1) 0 1px 0; }
    .switch-ios.switch-toggle a {
      background-color: #4BD865;
      border: 2px solid #D8D9DB;
      border-radius: 28px;
      -webkit-transition: all 0.12s ease-out;
      -moz-transition: all 0.12s ease-out;
      transition: all 0.12s ease-out; }
    .switch-ios.switch-toggle label {
      height: 2.4em;
      color: #888b92;
      line-height: 2.4em;
      vertical-align: middle; }
  .switch-ios input:checked + label {
    color: #3e4043; }
  /* Holo Theme
 */
  .switch-toggle.switch-holo, .switch-light.switch-holo > span {
    background-color: #464747;
    border-radius: 1px;
    box-shadow: inset rgba(0, 0, 0, 0.1) 0 1px 0;
    color: #fff;
    text-transform: uppercase; }
  .switch-holo label {
    color: #fff; }
  .switch-holo > span span {
    opacity: 0;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s; }
    .switch-holo > span span:first-of-type {
      opacity: 1; }
  .switch-holo > span span, .switch-holo label {
    font-size: 85%;
    line-height: 34.5px; }
  .switch-holo a {
    background-color: #666;
    border-radius: 1px;
    box-shadow: inset rgba(255, 255, 255, 0.2) 0 1px 0, inset rgba(0, 0, 0, 0.3) 0 -1px 0; }
  /* Selected ON switch-light
*/
  .switch-holo.switch-light input:checked ~ span a {
    background-color: #0E88B1; }
  .switch-holo.switch-light input:checked ~ span span:first-of-type {
    opacity: 0; }
  .switch-holo.switch-light input:checked ~ span span:last-of-type {
    opacity: 1; }
  /* Material Theme
 */
  /* switch-light
 */
  .switch-light.switch-material a {
    top: -3px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #fafafa;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 2px -2px rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    -webkit-transition: right .28s cubic-bezier(.4, 0, .2, 1);
    -moz-transition: right .28s cubic-bezier(.4, 0, .2, 1);
    transition: right .28s cubic-bezier(.4, 0, .2, 1); }
  .switch-material.switch-light {
    overflow: visible; }
    .switch-material.switch-light::after {
      clear: both;
      content: "";
      display: table; }
  .switch-material.switch-light > span {
    overflow: visible;
    position: relative;
    top: 3px;
    width: 52px;
    height: 24px;
    min-height: auto;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.26); }
  .switch-material.switch-light span span {
    position: absolute;
    clip: rect(0 0 0 0); }
  .switch-material.switch-light input:checked ~ span a {
    right: 0;
    background: #3f51b5;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 6px 0 rgba(0, 0, 0, 0.12); }
  .switch-material.switch-light input:checked ~ span {
    background: rgba(63, 81, 181, 0.5); }
  /* switch-toggle
 */
  .switch-toggle.switch-material {
    overflow: visible; }
    .switch-toggle.switch-material::after {
      clear: both;
      content: "";
      display: table; }
  .switch-toggle.switch-material a {
    top: 48%;
    width: 6px !important;
    height: 6px;
    margin-left: 4px;
    background: #3f51b5;
    border-radius: 100%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: -webkit-transform 0.4s ease-in;
    -moz-transition: -moz-transform 0.4s ease-in;
    transition: transform 0.4s ease-in; }
  .switch-toggle.switch-material label {
    color: rgba(0, 0, 0, 0.54);
    font-size: 1em; }
  .switch-toggle.switch-material label:before {
    content: '';
    position: absolute;
    top: 48%;
    left: 0;
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    border: 2px solid rgba(0, 0, 0, 0.54);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
  .switch-toggle.switch-material input:checked + label:before {
    border-color: #3f51b5; }
  /* ripple
 */
  .switch-light.switch-material > span:before, .switch-light.switch-material > span:after, .switch-toggle.switch-material label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    background: #3f51b5;
    opacity: .4;
    margin-left: -20px;
    margin-top: -20px;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: opacity .4s ease-in;
    -moz-transition: opacity .4s ease-in;
    transition: opacity .4s ease-in; }
  .switch-light.switch-material > span:after {
    left: auto;
    right: 0;
    margin-left: 0;
    margin-right: -20px; }
  .switch-toggle.switch-material label:after {
    width: 52px;
    height: 52px;
    margin-top: -12px; }
  @-webkit-keyframes materialRipple {
    0% {
      -webkit-transform: scale(0); }

    20% {
      -webkit-transform: scale(1); }

    100% {
      opacity: 0;
      -webkit-transform: scale(1); } }

  @-moz-keyframes materialRipple {
    0% {
      -moz-transform: scale(0); }

    20% {
      -moz-transform: scale(1); }

    100% {
      opacity: 0;
      -moz-transform: scale(1); } }

  @keyframes materialRipple {
    0% {
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0); }

    20% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }

    100% {
      opacity: 0;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); } }

  .switch-material.switch-light input:not(:checked) ~ span:after, .switch-material.switch-light input:checked ~ span:before, .switch-toggle.switch-material input:checked + label:after {
    -webkit-animation: materialRipple .4s ease-in;
    -moz-animation: materialRipple .4s ease-in;
    animation: materialRipple .4s ease-in; }
  /* trick to prevent the default checked ripple animation from showing
 * when the page loads.
 * the ripples are hidden by default, and shown only when the input is focused.
 */
  .switch-light.switch-material.switch-light input ~ span:before, .switch-light.switch-material.switch-light input ~ span:after, .switch-material.switch-toggle input + label:after {
    visibility: hidden; }
  .switch-light.switch-material.switch-light input:focus:checked ~ span:before, .switch-light.switch-material.switch-light input:focus:not(:checked) ~ span:after, .switch-material.switch-toggle input:focus:checked + label:after {
    visibility: visible; } }

/* Bugfix for older Webkit, including mobile Webkit. Adapted from
 * http://css-tricks.com/webkit-sibling-bug/
 */
@media only screen and (-webkit-max-device-pixel-ratio: 2) and (max-device-width: 1280px) {
  .switch-light, .switch-toggle {
    -webkit-animation: webkitSiblingBugfix infinite 1s; } }

@-webkit-keyframes webkitSiblingBugfix {
  from {
    -webkit-transform: translate3d(0, 0, 0); }

  to {
    -webkit-transform: translate3d(0, 0, 0); } }

/*# source_MappingURL=toggle-switch-px.css.map */

/*End: This code is supposed to be in a seperate file. Ask Mike where should we put this code*/





/*******************************Toggle Switch Customization***********************************/
/*This code came out of the saved css file. Code needs to be improved*/

.switch {
  margin: 3px 0;
  padding: 1px 0 3px; }
  .switch .switch-body, .switch .switch-left, .switch .switch-right {
    display: table-cell;
    vertical-align: top; }
  .switch .switch-body {
    padding: 2px 15px 0;
    zoom: 1; }
  .switch .form-group {
    margin: 0;
    min-height: 0; }

.switch-light img {
  width: 18px;
}

.switch-light.switch-wlm {
  cursor: pointer;
  margin: 0;
  width: 58px;
  margin-bottom: 0!important;
}
  .switch-light.switch-wlm > span {
    background-color: #DADADA;
    border: 1px solid #DADADA;
    box-shadow: none;
    border-radius: 3px; 
  }
  .-saving .switch-light.switch-wlm > span {
    background: #DADADA;
    border: 1px solid #15C384;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset, 0 0 6px #15C384;
  }
    .switch-light.switch-wlm > span .wlm-icons {
      display: none;
      color: #ffffff; }
  .switch-light.switch-wlm a {
    background-color: #ffffff;
    background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.5) 0%, #E7E7E7 100%);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.17);
    border: none;
    border-radius: 3px;
    color: #ffffff; }
    .switch-light.switch-wlm a:focus {
      outline: 0; }
  .switch-light.switch-wlm input:focus ~ span a {
    outline: 0; }
  .switch-light.switch-wlm input:checked ~ span {
    background: #15C384;
    border: 1px solid #15C384; }    
    .switch-light.switch-wlm input:checked ~ span.-green {
      background: #15C384;
      border-color: #15C384; }
    .switch-light.switch-wlm input:checked ~ span span .ico-check {
      display: block;
      position: absolute;
      left: 4px;
      top: 4px; }
    .switch-light.switch-wlm input:checked ~ span a {
      outline: 0; }
  .switch-light.switch-wlm input:not(:checked) ~ span span .ico-close {
    display: block;
    position: absolute;
    right: -23px;
    top: 4px; }
.switch-light.-has-label {
  float: left; }
  .switch-light.-has-label ~ label, .switch-light.-has-label ~ .title-label {
    display: inline-block;
    margin-left: 1em;
    line-height: 2em; }

.switch-toggle-wlm {
  background-color: #DADADA;
  border: 1px solid #DADADA;
  box-shadow: none;
  border-radius: 3px;
  width: 320px;
}
  .switch-toggle-wlm label, .switch-toggle-wlm .title-label {
    color: #ffffff;
    font-weight: normal;
    cursor: pointer; }
  .switch-toggle-wlm .btn-primary {
    background-color: #ffffff;
    background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.5) 0%, #E7E7E7 100%);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.17);
    border: none;
    border-radius: 3px;
    color: #ffffff;
    color: #ffffff;
    background: #054A91;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.17); }
  .switch-toggle-wlm.-icons input + label, .switch-toggle-wlm.-icons input + .title-label {
    padding: 0; }
  .switch-toggle-wlm.-icons .wlm-icons {
    padding: 4px 0;
    vertical-align: middle; }

.btn-toggle {
  border-radius: 0; }
  .btn-toggle .btn {
    background-color: #ffffff;
    border: 1px solid #DBE4EE;
    border-radius: 0;
    color: #DBE4EE;
    height: 36px;
    margin: 0;
    min-width: 60px;
    padding: 8px 12px 0; }
    .btn-toggle .btn.active, .btn-toggle .btn:active {
      background-color: #3E7CB1;
      border: none;
      box-shadow: 0 0px 3px #A1A1A1;
      color: #ffffff;
      opacity: 1; }
    .btn-toggle .btn:hover {
      box-shadow: none;
      opacity: 1;
      z-index: 0; }
  .btn-toggle.-small .btn {
    height: 24px;
    padding: 2px 12px; }
  .btn-toggle.-rounded {
    border: 1px solid #DBE4EE;
    border-radius: 100px; }
    .btn-toggle.-rounded .btn {
      background-color: none;
      border: none; }
    .btn-toggle.-rounded .btn:first-child:not(:last-child):not(.dropdown-toggle),
    .btn-toggle.-rounded .btn:last-child:not(:first-child):not(.dropdown-toggle) {
      background-color: none;
      border-radius: 100px; }
    .btn-toggle.-rounded:focus {
      background-color: red; }



.wlm-inside hr {
	border-color: #F0F0F0;
	margin: 12px 0;
  border-bottom: none;
}

/*Form Control*/

.wlm-inside .select2-container--default .select2-selection--multiple, 
.wlm-inside .select2-container--default .select2-selection--single,
#wlm_postpage_metabox .form-control,
.thickbox-loading .select2-container--default .select2-selection--multiple, 
.thickbox-loading .select2-container--default .select2-selection--single,
.thickbox-loading .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 0;
    border: 1px solid #DBE4EE;
    box-shadow: none;
    font-size: 0.875rem;
    font-weight: 300;
   	min-height: 36px;
    margin: 0;	
}

.wlm-inside .select2-container--default .select2-selection--multiple,
.thickbox-loading .select2-container--default .select2-selection--multiple {
	padding: 0;
}

.wlm-inside .select2-container--default .select2-selection--single,
.thickbox-loading .select2-container--default .select2-selection--single {
	height: 36px;
}

.wlm-inside .select2-container--default .select2-selection--single .select2-selection__rendered,
.thickbox-loading .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #a1a1a1;
	line-height: 21px;
}

.wlm-inside .select2-container--default .select2-selection--single .select2-selection__arrow,
.thickbox-loading .select2-container--default .select2-selection--single .select2-selection__arrow {
	top: 5px;
}

.wlm-inside .select2-container--default .select2-selection--multiple .select2-selection__choice,
.wlm-inside .select2-container--default .select2-selection--single .select2-selection__choice,
.thickbox-loading .wlm-inside .select2-container--default .select2-selection--multiple .select2-selection__choice,
.thickbox-loading .wlm-inside .select2-container--default .select2-selection--single .select2-selection__choice {
	margin: 0;
}

.wlm-inside .select2-container--default .select2-selection--multiple .select2-selection__rendered,
.thickbox-loading .select2-container--default .select2-selection--multiple .select2-selection__rendered {
	padding: 3px 3px 0;
}

.wlm-inside .select2-container--default .select2-selection--multiple .select2-selection__rendered li,
.wlm-inside .select2-container--default .select2-selection--single .select2-selection__rendered li,
.thickbox-loading .select2-container--default .select2-selection--multiple .select2-selection__rendered li,
.thickbox-loading .select2-container--default .select2-selection--single .select2-selection__rendered li {
	margin: 0 5px 0 0;
}

.wlm-inside .select2-selection__choice,
.thickbox-loading .select2-selection__choice {
  margin-bottom: 3px;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  display: block !important;
}

.wlm-inside .select2-container--default.select2-container--focus .select2-selection--multiple,
.wlm-inside .select2-container--default.select2-container--focus .select2-selection--single,
.thickbox-loading .select2-container--default.select2-container--focus .select2-selection--multiple,
.thickbox-loading .select2-container--default.select2-container--focus .select2-selection--single {
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
	border-color: #66afe9;
}

.wlm-inside .select2-container--default .select2-selection--multiple .select2-selection__choice,
.wlm-inside .select2-container--default .select2-selection--single .select2-selection__choice,
.thickbox-loading .select2-container--default .select2-selection--multiple .select2-selection__choice,
.thickbox-loading .select2-container--default .select2-selection--single .select2-selection__choice {
	background: #F7F9FB;
	border: 1px solid #ccc;
	color: #555;
	border-radius: 1px;
	padding: 1px 8px 2px;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #f7f9fb;
  margin-bottom: 1px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  color: #5d5d5d;
}

.wlm-inside .select2-results__option,
.thickbox-loading .select2-results__option {
	margin-bottom: 0;
}

.wlm-inside .wlm-grey-box {
	background: #FCFCFC;
	border: 1px solid #ECECEC;
	padding: 10px;
	margin: 10px 0;
}

.wlm-sp-container {
	margin-bottom: 8px;
}

.wlm-sp-container p {
	margin-top: 12px!important;
}

.sp-container-left,
.sp-container-right {
	float: left;
	box-sizing: border-box;
	width: 50%;
}

.form-check .cb-container .text-content {
  font-weight: bold;
}

/*Search Box*/
.wlm-search-box-container {
	margin-bottom: 15px;
}
.wlm-search-box {
	box-sizing: border-box;
	float: left;
}
.wlm-search-box-1 {
	width: 290px;
  white-space: nowrap;
}
.wlm-search-box-2 {
	width: calc(100% - 378px);
}
.wlm-search-box-3 {
	width: 88px;
}

.wlm-inside table th, .thickbox-loading table th {
  background: #DBE4EE;
  color: #444;
  font-weight: bold;
}


/*Modal Box Styles*/
.thickbox-loading a:focus,
#TB_closeWindowButton:focus .tb-close-icon {
  box-shadow: none;
}
.thickbox-loading .tb-close-icon:focus {
  border: none!important;
  outline: none!important;
}
.thickbox-loading .tb-close-icon {
  top: 5px;
  right: 5px;
}
.thickbox-loading {
  border-radius: 4px;
}
.thickbox-loading #TB_title {
  background-color: #F7F9FB;
  border-radius: 4px 4px 0 0;
  border-bottom: none;
  height: 40px;
}
.thickbox-loading #TB_ajaxWindowTitle {
  padding: 5px 29px 0 10px;
}
.thickbox-loading .form-group label {
  display: block;
  margin-bottom: 6px;
}

.thickbox-loading .wlm-btn {
  padding: 0 18px;
  height: 36px;
  margin: 0 0 0 6px;  
}

.thickbox-loading .wlm-btn.-icon-only {
  padding: 7px 6px 0;
  height: 29px;
}

.thickbox-loading .clearfix::after {
  content: "";
  clear: both;
  display: table; 
}


/*Configure Modal*/
.wlm-modal-content {
  float: left;
  box-sizing: border-box;
}

.thickbox-loading a.wlm-btn {
  padding: 8px 18px 0;
  height: 28px;
}

.modal-content-right {
  padding: 15px;
}

.wlm-modal-content.modal-content-left {
  border-right: 1px solid #dadada;
  width: 25%;
  min-height: 230px;
}

.wlm-modal-content.modal-content-left ul {
  padding: 0;
}

.wlm-modal-content.modal-content-right {  
  width: 75%;
}

.wlm-page-select-left {
  width: 85%;
}

.wlm-page-select-right {
  width: 15%;
}

.wlm-page-title {
  margin-top: 15px;
}

.wlm-page-title-left {
  width: 50%;
}
.wlm-page-title-right {
  width: 50%;
}

.thickbox-loading .wlm-message-left .wlm-btn {
  margin: 0;
}

.thickbox-loading .wlm-message-right {
  float: right;
}

.wlm-modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid #e9ecef;
}

.wlm-modal-footer .wlm-btn {
  height: 42px;
}

.wlm-saved {
  color: green;
}

.wlm-saved, .wlm-saving, .wlm-message{
  display: inline-block;
  margin-right: 1rem;
}

a.wlm-help-icon {
  vertical-align: -3px;
  line-height: 0;
}

a.wlm-help-icon img {
  width: 16px;
}

.select2-dropdown.select2-dropdown--above,
.select2-dropdown.select2-dropdown--below {
  z-index: 3181977;
}

#wlm_payperpost_table {
  table-layout: fixed;
  width: 100%;
}

#wlm_payperpost_table tr > td {
  border-bottom: 1px solid #DBE4EE;
  vertical-align: middle;
}

#wlm_payperpost_table tr:nth-child(even) {
    background-color: #F4F6F9
}

#wlm_payperpost_table tr .wlm3-add-ppp,
#wlm_payperpost_table tr .wlm3-remove-ppp {
  color: #054A91;
  padding: 8px 4px 0;
  width: 83px;
  padding: 0 4px 0;
}

#wlm_payperpost_table tr .wlm3-add-ppp span,
#wlm_payperpost_table tr .wlm3-remove-ppp span {
  padding: 3px 5px 0;
}

#wlm_payperpost_table tr .wlm3-remove-ppp span {
  color: #A1A1A1;
}

#wlm_payperpost_table tr .wlm3-add-ppp,
#wlm_payperpost_table tr.wlm3-has-ppp .wlm3-remove-ppp {
  display: inline-block;
}

#wlm_payperpost_table tr.wlm3-has-ppp .wlm3-add-ppp,
#wlm_payperpost_table tr .wlm3-remove-ppp {
  display: none;
}

#wlm_payperpost_table tbody td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#wlm_payperpost_table tr > *:last-child,
#wlm_payperpost_table tr > *:first-child {
  text-align: center;
}

#wlm_payperpost_table td {
  transition: background 0.30s ease-in-out;
}

#wlm_payperpost_table tr.-saving td {
  background: #CDE5FB;
}

/*Pagination*/
#wlm3-pagination {
  margin-bottom: .5rem;
  float: right;
  font-weight: heavy;
}

#wlm3-pagination a {
  text-decoration: none;
}

#wlm3-pagination .dropdown-menu {
  display: none;
}

#wlm3-pagination .wlm-icon-arrow {
  width: 18px;
  vertical-align: -7px;
}

#wlm3-pagination .dropdown-toggle.-open .dropdown-menu {
  display: block;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: #fff;
  border-radius: 3px;
  position: absolute;
  margin: 0;
  z-index: 1;
}


#wlm3-pagination .dropdown-menu a {
  font-weight: bold;
  display: block;
  color: #81A4CD;
  margin-bottom: 3px;
  padding: 3px 10px;
}
#wlm3-pagination .dropdown-menu a:hover {
  background-color: #f8f9fa;
}

#TB_ajaxContent {
  min-height: calc(100% - 70px);
}

/*Wordpress 5 fixes*/
/*.wlm-btn {
  padding: 10px 18px;
  height: 40px;
}*/

#TB_window.wlm3-thickbox {
  height: auto!important;
}

#TB_closeWindowButton:focus .tb-close-icon {
  box-shadow: none;
}

/*Specifically fixed for Thrivethemes*/
#TB_window.wlm3-thickbox #TB_ajaxContent {
  width: auto!important;
}
/*Specifically fixed for Thrivethemes*/
#TB_window.wlm3-thickbox #TB_ajaxContent #wlm_user_search_input {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#TB_window.wlm3-thickbox #TB_ajaxContent .system-pages-modal .wlm-modal-content.modal-content-right,
#TB_window.wlm3-thickbox #TB_ajaxContent .system-pages-modal p,
#TB_window.wlm3-thickbox #TB_ajaxContent .system-pages-modal .wlm-modal-content.modal-content-left ul li {
  text-align: left;
}

#TB_window.wlm3-thickbox #TB_ajaxContent li::before {
  display: none;
}

/*Date Range Picker*/

.btn:hover {
  cursor: pointer;
}

.daterangepicker .calendar-table .table-condensed {
  border-collapse: collapse;
}

.daterangepicker {
  display: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.daterangepicker .calendar-time,
.daterangepicker_input,
.daterangepicker .calendar-table {
  padding: 0!important;
}

.daterangepicker .calendar-time {
  margin: 15px;
}

.daterangepicker .ranges {
    background-color: #F7F9FB;
    float: none !important;
    font-size: 11px !important;
    margin: 0;
    text-align: center;
    clear: both;
}

.daterangepicker .calendar {
  margin: 0!important;
}

.daterangepicker .calendar.single .calendar-table {
  padding: 0;
  border-radius: 0;
  margin: 0;
}

.daterangepicker .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button.btn.-default {
    background-color: #DADADA;
    color: #7C7C7C;
}

button.btn.-condensed {
    height: 36px;
    line-height: 1.4em;
    padding: 0 12px;  
}

.daterangepicker .ranges .btn {
  margin: 12px 6px;
}

button.btn.-success {
    background-color: #15C384;
    color: #ffffff;  
}

.daterangepicker .calendar-table thead {
  background-color: #F7F9FB;
}

.daterangepicker .calendar-table thead th {
    padding: 0;
    border-radius: 0;
}

.prev .wlm-icons,
.next .wlm-icons {
  height: 24px;
  width: 24px;
}

.prev .wlm-icons {
  background: url(../images/baseline-keyboard_arrow_left-24px.svg) no-repeat;
  display: block;
  text-indent: -9999px;
}

.next .wlm-icons {
  background: url(../images/baseline-keyboard_arrow_right-24px.svg) no-repeat;
  display: block;
  text-indent: -9999px;  
}

.daterangepicker .btn:hover {
  opacity: 0.7;
}

